.lf-ad{
    float: left;
    width: 100%;
    height: auto;
}
.rg-ad{
    float: left;
    width: 100%;
    height: auto;
}
.dm-ad{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: red;
}
.dm-ad span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}